In [1]:
import pandas as pd
import numpy as np

## Houston

In [2]:
df = pd.read_csv("./KHOU.csv")
df.head()
df

,date,actual_mean_temp,actual_min_temp,actual_max_temp,average_min_temp,average_max_temp,record_min_temp,record_max_temp,record_min_temp_year,record_max_temp_year,actual_precipitation,average_precipitation,record_precipitation
0,2014-7-1,84,74,94,75,93,66,102,1985,1980,0.00,0.16,1.40
1,2014-7-2,84,74,94,75,93,66,104,1924,1894,0.00,0.16,5.43
2,2014-7-3,84,73,94,75,93,66,100,1977,1980,0.00,0.16,1.29
3,2014-7-4,82,72,91,75,93,66,101,1910,2009,0.48,0.15,3.49
4,2014-7-5,82,73,90,75,93,66,102,1924,2009,0.31,0.16,3.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2015-6-26,86,77,94,75,92,59,105,1974,2012,0.13,0.19,10.34
361,2015-6-27,83,73,93,75,92,57,102,1974,1980,2.38,0.19,2.50
362,2015-6-28,82,73,90,75,93,59,102,1974,2009,2.24,0.19,2.98
363,2015-6-29,84,76,92,75,93,59,107,1974,2013,0.00,0.19,2.50
364,2015-6-30,82,72,92,75,93,61,103,1985,1980,2.26,0.19,2.26

In [15]:
#split data by years 2014 and 2015
fourteens = [] 
fifteens = []
for i in range(df.shape[0]):
    fourteens.append(df.date[i][:4] == '2014')
    fifteens.append(df.date[i][:4] == '2015')
data2014 = df[fourteens]
data2015 = df[fifteens]
data2015.head()

,date,actual_mean_temp,actual_min_temp,actual_max_temp,average_min_temp,average_max_temp,record_min_temp,record_max_temp,record_min_temp_year,record_max_temp_year,actual_precipitation,average_precipitation,record_precipitation
184,2015-1-1,34,26,42,36,46,10,58,1952,2006,0.00,0.18,1.37
185,2015-1-2,37,32,42,36,46,6,56,1950,2003,0.06,0.18,1.77
186,2015-1-3,38,35,41,36,46,6,58,1950,1984,0.00,0.19,1.01
187,2015-1-4,45,38,51,36,46,14,61,1950,1984,0.40,0.19,1.56
188,2015-1-5,52,49,54,36,46,15,55,1982,2006,0.32,0.18,1.33

In [4]:
#get the average temp for each month in each year (2014)

#print(data2014.date[0][5:7])
##july
vals7 = []
for i in range(len(data2014)):
    vals7.append(data2014.date[i][5:6] == '7')
jul = data2014[vals7]
julAvg = jul.actual_mean_temp.mean() 


##aug
vals8 = []
for i in range(len(data2014)):
    vals8.append(data2014.date[i][5:6] == '8')
aug = data2014[vals8]
augAvg = aug.actual_mean_temp.mean() 


##sep
vals9 = []
for i in range(len(data2014)):
    vals9.append(data2014.date[i][5:6] == '9')
sep = data2014[vals9]
sepAvg = sep.actual_mean_temp.mean() 

##october
vals1 = []
for i in range(len(data2014)):
    vals1.append(data2014.date[i][5:7] == '10')
octo = data2014[vals1]
octoAvg = octo.actual_mean_temp.mean() 

##nov
vals1 = []
for i in range(len(data2014)):
    vals1.append(data2014.date[i][5:7] == '11')
nov = data2014[vals1]
novAvg = nov.actual_mean_temp.mean() 

vals1 = []
for i in range(len(data2014)):
    vals1.append(data2014.date[i][5:7] == '12')
dec = data2014[vals1]
decAvg = dec.actual_mean_temp.mean() 

print('july =', julAvg,'aug =', augAvg, 'sep =', sepAvg, 'oct =', octoAvg,'nov =', novAvg, 'dec =', decAvg )

july = 83.96774193548387 aug = 84.7741935483871 sep = 80.8 oct = 73.03225806451613 nov = 57.7 dec = 57.193548387096776

In [29]:
#get the average temo for each month in each year (2015)
##january
vals1 = []
data2015.index = range(len(data2015.index))
for i in range(len(data2015)):
    vals1.append(data2015.date.loc[i][5:6] == '1')
jan15 = data2015[vals1]
janAvg15 = jan15.actual_mean_temp.mean() 

##feb
vals2 = []
for i in range(len(data2015)):
    vals2.append(data2015.date.loc[i][5:6] == '2')
feb15 = data2015[vals2]
febAvg15 = feb15.actual_mean_temp.mean() 

##march
vals3 = []
for i in range(len(data2015)):
    vals3.append(data2015.date.loc[i][5:6] == '3')
mar15 = data2015[vals3]
marAvg15 = mar15.actual_mean_temp.mean() 

##apr
vals4 = []
for i in range(len(data2015)):
    vals4.append(data2015.date.loc[i][5:6] == '4')
apr15 = data2015[vals4]
aprAvg15 = apr15.actual_mean_temp.mean() 

##may
vals5 = []
for i in range(len(data2015)):
    vals5.append(data2015.date.loc[i][5:6] == '5')
may15 = data2015[vals5]
mayAvg15 = may15.actual_mean_temp.mean() 

##jun
vals6 = []
for i in range(len(data2015)):
    vals6.append(data2015.date.loc[i][5:6] == '6')
jun15 = data2015[vals6]
junAvg15 = jun15.actual_mean_temp.mean() 

print('jan =', janAvg15,'feb =', febAvg15,'mar =', marAvg15,'apr =', aprAvg15,'may =', mayAvg15, 'jun =', junAvg15)

jan = nan feb = 49.0 mar = 50.774193548387096 apr = 51.63333333333333 may = 59.38709677419355 jun = 67.96666666666667

In [25]:
#prec = actual_precipitation.mean()

##july
values = []
for i in range(len(data2014)):
    values.append(data2014.date[i][5:6] == '7')
julPrec = data2014[values]
julPrecAvg = julPrec.actual_precipitation.mean() 

##aug
values = []
for i in range(len(data2014)):
    values.append(data2014.date[i][5:6] == '8')
augPrec = data2014[values]
augPrecAvg = augPrec.actual_precipitation.mean() 

##sep
values = []
for i in range(len(data2014)):
    values.append(data2014.date[i][5:6] == '9')
sepPrec = data2014[values]
sepPrecAvg = sepPrec.actual_precipitation.mean() 

##octo
values = []
for i in range(len(data2014)):
    values.append(data2014.date[i][5:7] == '10')
octoPrec = data2014[values]
octoPrecAvg = octoPrec.actual_precipitation.mean() 

##nov
values = []
for i in range(len(data2014)):
    values.append(data2014.date[i][5:7] == '11')
novPrec = data2014[values]
novPrecAvg = novPrec.actual_precipitation.mean() 

##dec
values = []
for i in range(len(data2014)):
    values.append(data2014.date[i][5:7] == '12')
decPrec = data2014[values]
decPrecAvg = decPrec.actual_precipitation.mean() 

print('july prec=', julPrecAvg*100,'aug prec=', augPrecAvg*100, 'sep prec=', sepPrecAvg*100, 'oct orec=', octoPrecAvg*100, 'nov prec=', novPrecAvg*100, 'dec prec=', decPrecAvg*100)

july prec= 2.4838709677419355 aug prec= 5.838709677419356 sep prec= 7.433333333333334 oct orec= 21.774193548387096 nov prec= 16.13333333333333 dec prec= 15.451612903225806

## New York

In [6]:
df = pd.read_csv("./KNYC.csv")

In [7]:
#split data by years 2014 and 2015
fourteens = [] 
fifteens = []
for i in range(df.shape[0]):
    fourteens.append(df.date[i][:4] == '2014')
    fifteens.append(df.date[i][:4] == '2015')
data2014 = df[fourteens]
data2015 = df[fifteens]
data2015.head()

,date,actual_mean_temp,actual_min_temp,actual_max_temp,average_min_temp,average_max_temp,record_min_temp,record_max_temp,record_min_temp_year,record_max_temp_year,actual_precipitation,average_precipitation,record_precipitation
184,2015-1-1,33,27,39,28,39,-4,62,1918,1966,0.00,0.12,2.05
185,2015-1-2,39,35,42,28,39,2,68,1918,1876,0.00,0.12,1.92
186,2015-1-3,38,33,42,28,39,-4,64,1879,2000,0.71,0.12,2.42
187,2015-1-4,49,41,56,27,39,-3,66,1918,1950,0.30,0.12,2.73
188,2015-1-5,35,21,49,27,38,-4,64,1904,1993,0.00,0.12,1.50

In [8]:
#get the average temp for each month in each year (2014)

##july
vals7 = []
for i in range(len(data2014)):
    vals7.append(data2014.date[i][5:6] == '7')
jul = data2014[vals7]
julAvg = jul.actual_mean_temp.mean() 


##aug
vals8 = []
for i in range(len(data2014)):
    vals8.append(data2014.date[i][5:6] == '8')
aug = data2014[vals8]
augAvg = aug.actual_mean_temp.mean() 


##sep
vals9 = []
for i in range(len(data2014)):
    vals9.append(data2014.date[i][5:6] == '9')
sep = data2014[vals9]
sepAvg = sep.actual_mean_temp.mean() 

##october
vals1 = []
for i in range(len(data2014)):
    vals1.append(data2014.date[i][5:7] == '10')
octo = data2014[vals1]
octoAvg = octo.actual_mean_temp.mean() 

##nov
vals1 = []
for i in range(len(data2014)):
    vals1.append(data2014.date[i][5:7] == '11')
nov = data2014[vals1]
novAvg = nov.actual_mean_temp.mean() 

vals1 = []
for i in range(len(data2014)):
    vals1.append(data2014.date[i][5:7] == '12')
dec = data2014[vals1]
decAvg = dec.actual_mean_temp.mean() 

print('july =', julAvg,'aug =', augAvg, 'sep =', sepAvg, 'oct =', octoAvg,'nov =', novAvg, 'dec =', decAvg)

july = 76.29032258064517 aug = 74.70967741935483 sep = 69.93333333333334 oct = 59.87096774193548 nov = 45.53333333333333 dec = 40.774193548387096

In [9]:
#get the average temp for each month in each year (2015)
##january
vals1 = []
data2015.index = range(len(data2015.index))
for i in range(len(data2015)):
    vals1.append(data2015.date.loc[i][5:6] == '1')
jan15 = data2015[vals1]
janAvg15 = jan15.actual_mean_temp.mean() 

##feb
vals2 = []
for i in range(len(data2015)):
    vals2.append(data2015.date.loc[i][5:6] == '2')
feb15 = data2015[vals2]
febAvg15 = feb15.actual_mean_temp.mean() 

##march
vals3 = []
for i in range(len(data2015)):
    vals3.append(data2015.date.loc[i][5:6] == '3')
mar15 = data2015[vals3]
marAvg15 = mar15.actual_mean_temp.mean() 

##apr
vals4 = []
for i in range(len(data2015)):
    vals4.append(data2015.date.loc[i][5:6] == '4')
apr15 = data2015[vals4]
aprAvg15 = apr15.actual_mean_temp.mean() 

##may
vals5 = []
for i in range(len(data2015)):
    vals5.append(data2015.date.loc[i][5:6] == '5')
may15 = data2015[vals5]
mayAvg15 = may15.actual_mean_temp.mean() 

##jun
vals6 = []
for i in range(len(data2015)):
    vals6.append(data2015.date.loc[i][5:6] == '6')
jun15 = data2015[vals6]
junAvg15 = jun15.actual_mean_temp.mean() 


print('jan =', janAvg15,'feb =', febAvg15,'mar =', marAvg15,'apr =', aprAvg15,'may =', mayAvg15, 'jun =', junAvg15)

jan = 30.161290322580644 feb = 24.178571428571427 mar = 38.354838709677416 apr = 54.53333333333333 may = 68.7741935483871 jun = 71.5

## Seattle

In [10]:
df = pd.read_csv("./KSEA.csv")
df.head()

,date,actual_mean_temp,actual_min_temp,actual_max_temp,average_min_temp,average_max_temp,record_min_temp,record_max_temp,record_min_temp_year,record_max_temp_year,actual_precipitation,average_precipitation,record_precipitation
0,2014-7-1,77,60,94,54,73,45,94,1948,2014,0.0,0.03,0.75
1,2014-7-2,70,58,81,54,73,43,93,1954,2015,0.0,0.03,0.50
2,2014-7-3,64,57,71,54,74,44,92,1954,2015,0.0,0.03,0.47
3,2014-7-4,66,57,75,54,74,43,92,1949,2015,0.0,0.03,0.57
4,2014-7-5,66,56,76,55,74,47,91,1951,1958,0.0,0.03,0.64

In [11]:
#split data by years 2014 and 2015
fourteens = [] 
fifteens = []
for i in range(df.shape[0]):
    fourteens.append(df.date[i][:4] == '2014')
    fifteens.append(df.date[i][:4] == '2015')
data2014 = df[fourteens]
data2015 = df[fifteens]
data2015.head()

,date,actual_mean_temp,actual_min_temp,actual_max_temp,average_min_temp,average_max_temp,record_min_temp,record_max_temp,record_min_temp_year,record_max_temp_year,actual_precipitation,average_precipitation,record_precipitation
184,2015-1-1,34,26,42,36,46,10,58,1952,2006,0.00,0.18,1.37
185,2015-1-2,37,32,42,36,46,6,56,1950,2003,0.06,0.18,1.77
186,2015-1-3,38,35,41,36,46,6,58,1950,1984,0.00,0.19,1.01
187,2015-1-4,45,38,51,36,46,14,61,1950,1984,0.40,0.19,1.56
188,2015-1-5,52,49,54,36,46,15,55,1982,2006,0.32,0.18,1.33

In [12]:
#get the average temp for each month in each year (2014)

##july
vals7 = []
for i in range(len(data2014)):
    vals7.append(data2014.date[i][5:6] == '7')
jul = data2014[vals7]
julAvg = jul.actual_mean_temp.mean() 


##aug
vals8 = []
for i in range(len(data2014)):
    vals8.append(data2014.date[i][5:6] == '8')
aug = data2014[vals8]
augAvg = aug.actual_mean_temp.mean() 


##sep
vals9 = []
for i in range(len(data2014)):
    vals9.append(data2014.date[i][5:6] == '9')
sep = data2014[vals9]
sepAvg = sep.actual_mean_temp.mean() 

##october
vals1 = []
for i in range(len(data2014)):
    vals1.append(data2014.date[i][5:7] == '10')
octo = data2014[vals1]
octoAvg = octo.actual_mean_temp.mean() 

##nov
vals1 = []
for i in range(len(data2014)):
    vals1.append(data2014.date[i][5:7] == '11')
nov = data2014[vals1]
novAvg = nov.actual_mean_temp.mean() 

vals1 = []
for i in range(len(data2014)):
    vals1.append(data2014.date[i][5:7] == '12')
dec = data2014[vals1]
decAvg = dec.actual_mean_temp.mean() 

print('july =', julAvg,'aug =', augAvg, 'sep =', sepAvg, 'oct =', octoAvg,'nov =', novAvg, 'dec =', decAvg)

july = 69.45161290322581 aug = 69.38709677419355 sep = 65.06666666666666 oct = 58.225806451612904 nov = 46.233333333333334 dec = 45.54838709677419

In [13]:
#get the average temo for each month in each year (2015)
##january
vals1 = []
data2015.index = range(len(data2015.index))
for i in range(len(data2015)):
    vals1.append(data2015.date.loc[i][5:6] == '1')
jan15 = data2015[vals1]
janAvg15 = jan15.actual_mean_temp.mean() 

##feb
vals2 = []
for i in range(len(data2015)):
    vals2.append(data2015.date.loc[i][5:6] == '2')
feb15 = data2015[vals2]
febAvg15 = feb15.actual_mean_temp.mean() 

##march
vals3 = []
for i in range(len(data2015)):
    vals3.append(data2015.date.loc[i][5:6] == '3')
mar15 = data2015[vals3]
marAvg15 = mar15.actual_mean_temp.mean() 

##apr
vals4 = []
for i in range(len(data2015)):
    vals4.append(data2015.date.loc[i][5:6] == '4')
apr15 = data2015[vals4]
aprAvg15 = apr15.actual_mean_temp.mean() 

##may
vals5 = []
for i in range(len(data2015)):
    vals5.append(data2015.date.loc[i][5:6] == '5')
may15 = data2015[vals5]
mayAvg15 = may15.actual_mean_temp.mean() 

##jun
vals6 = []
for i in range(len(data2015)):
    vals6.append(data2015.date.loc[i][5:6] == '6')
jun15 = data2015[vals6]
junAvg15 = jun15.actual_mean_temp.mean() 


print('jan =', janAvg15,'feb =', febAvg15,'mar =', marAvg15,'apr =', aprAvg15,'may =', mayAvg15, 'jun =', junAvg15)

jan = 45.25806451612903 feb = 49.0 mar = 50.774193548387096 apr = 51.63333333333333 may = 59.38709677419355 jun = 67.96666666666667